<div class="section page-single-customer" id="page-single">
    <h1 class="title center">
        <template v-if="name">\{{ name }}</template>
        <template v-else>Новый клиент</template>
    </h1>
    <div class="subtitle center" v-if="name">Новый клиент</div>

    <div class="columns is-centered">
        <div class="column is-6">
            <form method="POST" enctype="multipart/form-data" action="/customers/add?_csrf={{ csrf }}">
                <div class="box">
                    <div class="tabs-with-content">
                        <div class="tabs">
                            <ul>
                                <li @click="tab = 1"><a>Основное</a></li>
                                <li @click="tab = 2"><a>О компании</a></li>
                                <li @click="tab = 3"><a>Настройки</a></li>
                                <li @click="tab = 4"><a>Аватар</a></li>
                            </ul>
                        </div>
                        <div>
                            <section class="tab-content">
                                <div class="field">
                                    <label class="label">Наименование</label>
                                    <div class="control">
                                        <input class="input" type="text" v-model="name" name="name">
                                    </div>
                                </div>

                                <div class="field-body field-body-not-last">
                                    <div class="field">
                                        <label class="label">Стоимость часа</label>
                                        <div class="field has-addons">
                                            <p class="control w-100">
                                                <input class="input" type="text" placeholder="1 000" name="price">
                                            </p>
                                            <p class="control">
                                                <a class="button is-static">
                                                    RUB
                                                </a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Вид обслуживания</label>
                                        <div class="control">
                                            <div class="select">
                                                <select name="service">
                                                    {{#if services}}
                                                        {{#each services}}
                                                            <option value="{{ _id }}">{{ title }}</option>
                                                        {{/each}}
                                                    {{/if}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field-body field-body-not-last">
                                    <div class="field" v-if="!switcher">
                                        <label class="label">Сайт</label>
                                        <div class="control">
                                            <div class="input-link">
                                                <input class="input" type="text" v-model="domain" name="projects">
                                                <a href="//demo.com" target="_blank" class="input-link-item">
                  <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field" v-else>
                                        <label class="label">Сайты</label>
                                        <div class="control">
                                            <div class="tags tags-container">
                                              <span class="tag is-success" v-for="domain in domains">
                                                \{{ domain }}
                                                  <button type="button" class="delete is-small" @click="deleteTag(domain)"></button>
                                              </span>
                                                <input type="hidden" :value="domainsJSON" name="projects">
                                            </div>

                                            <div class="field">
                                                <div class="field has-addons tags-add-field">
                                                    <div class="control tags-add-control">
                                                        <input class="input tags-add-input" type="text" v-model="domain" @keyup.enter="addTag($event)">
                                                    </div>
                                                    <div class="control">
                                                        <button type="button" class="button is-primary" @click="addTag($event)">Добавить сайт</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="tab-content">
                                <div class="field">
                                    <label class="label">Начало сотрудничества</label>
                                    <div class="control tags-add-control">
                                        <input class="input tags-add-input" type="date" name="dateFrom">
                                    </div>
                                </div>
                            </section>
                            <section class="tab-content">Раздел в разработке.</section>
                            <section class="tab-content">
                                <div class="avatar">
                                    <figure class="image img-object box-image">
                                        <img class="img-item is-rounded customer-avatar-img" :src="avatarSrc">
                                        <button type="button" class="delete customer-avatar-delete" @click="deleteAvatar($event)" v-if="avatar"></button>
                                    </figure>

                                    <form action="" v-if="!avatar">
                                        <div class="file customer-avatar-upload">
                                            <label class="file-label">
                                                <input class="file-input" type="file" name="img" @change="uploadAvatar($event)">
                                                <span class="file-cta">
                                                  <span class="file-icon">
                                                    <i class="fas fa-upload"></i>
                                                  </span>
                                                  <span class="file-label">
                                                    Загрузить картинку
                                                  </span>
                                                </span>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Сохранить</button>
                        </div>
                        <div class="control">
                            <a class="button is-link is-light" href="/customers">Отмена</a>
                        </div>
                        <div class="control control-switch" v-if="tab === 1">
                            <div class="control-switch-label label">у клиента больше 1 сайта</div>

                            <label class="switch">
                                <input type="checkbox" @change="toggleSwitcher()" :checked="switcher">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>

                    {{#if error}}
                        <p class="help help-big is-danger">{{ error }}</p>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>