<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <h1 class="title">Задачи</h1>
            </div>
            <div class="column is-4 has-text-right">
                    <div class="field">
                        <div class="control">
                            <a href="/tasks/add" class="button is-primary">
                                Добавить
                                <span class="icon ml-0">
                                  <i class="fas fa-plus"></i>
                                </span>
                            </a>
                        </div>
                    </div>
            </div>
        </div>

        <!--
        <nav class="breadcrumb has-arrow-separator is-centered" aria-label="breadcrumbs">
            <ul>
                <li><a href="#">Главная</a></li>
                <li class="is-active"><a href="#" aria-current="page">Задачи</a></li>
            </ul>
        </nav>
        -->
        {{#if tasks}}
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>ID</th>
                <th>Задача</th>
                <th>Клиент</th>
                <th>Сайт</th>
                <th>Оценка</th>
                <th>Сумма</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {{#each tasks}}
            {{#if active}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>3put</td>
                <td>
                    <a href="//demo.com" target="_blank">
                        demo.com
                        <span class="icon">
                        <i class="fas fa-external-link-alt"></i>
                      </span>
                    </a>
                </td>
                <td>{{time.estimate}}</td>
                <td>{{price}}</td>
                <!--<td>
                    <span class="tag is-info">Редактировать</span>
                    <span class="tag is-danger">Удалить</span>
                </td>-->
                <td>
                    <span class="icon icon-action icon-edit">
                        <a class="fas fa-pen" href="/tasks/{{id}}"></a>
                      </span>

                    <span class="icon icon-action icon-delete">
                        <i class="fas fa-trash-alt"></i>
                      </span>
                </td>
            </tr>
            {{/if}}
            {{/each}}
            </tbody>
        </table>
        {{else}}
            <p>Нет задач.</p>
        {{/if}}
    </div>
</section>