<section class="section page-edit" id="page-single-task">
    <div class="container">

        <h1 class="title center">Редактирование</h1>

        <div class="columns is-centered">
            <div class="column is-6">

                {{#if error}}
                    <p class="help help-big is-danger">{{ error }}</p>
                {{/if}}

                <form method="POST" action="/tasks/add">
                    <div class="field">
                        <label class="label">Задача</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Заголовок" name="name" value="{{ data.name }}">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Описание задачи</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Lorem ipsum dolor" name="body">{{ data.body }}</textarea>
                        </div>
                    </div>

                    <div class="field-body field-body-not-last">
                        <div class="field">
                            <label class="label">Клиент</label>
                            <div class="control">
                                <div class="select">
                                    <select name="customer" @change="onChangeCustomer($event)">
                                        <option disabled selected>Клиент</option>
                                        {{#if customers}}
                                            {{#each customers}}
                                            <option value="{{ _id }}">{{ name }}</option>
                                            {{/each}}
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Проект</label>
                            <div class="control">
                                <div class="select">
                                    <select name="project">
                                        <template v-for="project of projects">
                                            <option :selected="project.selected" :disabled="project.selected">\{{ project.domain }}</option>
                                        </template>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field-body field-body-not-last">
                        <div class="field">
                            <label class="label">Автор задачи</label>
                            <div class="control">
                                    <input class="input" type="text" value="{{ user.name.first }} {{ user.name.last }}" readonly>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Разработчик</label>
                            <div class="control">
                                <div class="select">
                                    <select name="developer">
                                        {{#if users}}
                                            {{#each users}}
                                                <option value="{{ _id }}">{{ name.first }} {{ name.last }}</option>
                                            {{/each}}
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Наблюдатели</label>
                        <div class="control">
                            <div class="select is-multiple">
                                <select name="observers" multiple>
                                    {{#if users}}
                                        {{#each users}}
                                            <option value="{{ _id }}">{{ name.first }} {{ name.last }}</option>
                                        {{/each}}
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field-body field-body-not-last">
                        <div class="field">
                            <label class="label">Оценка (ч)</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="" name="estimate">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Фактически</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="" name="fact">
                            </div>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <input type="hidden" name="_csrf" value="{{ csrf }}">
                            <button type="submit" class="button is-link">Сохранить</button>
                        </div>
                        <div class="control">
                            <a class="button is-link is-light" href="/tasks">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>