<section class="section page-edit" id="page-single-task">
    <div class="container">

        <h1 class="title center">Редактирование</h1>

        <div class="columns is-centered">
            <div class="column is-6">

                {{#if error}}
                    <p class="help help-big is-danger">{{ error }}</p>
                {{/if}}

                <form method="POST" action="/tasks/edit">
                    <div class="field">
                        <label class="label">Задача</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Заголовок" name="name" value="{{ task.name }}" {{#morethan user.role 0}}readonly{{/morethan}}>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Описание задачи</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Lorem ipsum dolor" name="body" {{#morethan user.role 0}}readonly{{/morethan}}>{{ task.body }}</textarea>
                        </div>
                    </div>

                    <div class="field-body field-body-not-last">
                        <div class="field">
                            <label class="label">Клиент</label>
                            <div class="control">
                                <div class="select">
                                    <select name="customer" @change="onChangeCustomer($event)" {{#morethan user.role 0}}data-disabled{{/morethan}}>
                                        <option disabled>Клиент</option>
                                        <option value="{{ task.customer._id }}" selected>{{ task.customer.name }}</option>
                                        {{#if customers}}
                                            {{#each customers}}
                                                <option value="{{ _id }}">{{ name }}</option>
                                            {{/each}}
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Проект</label>
                            <div class="control">
                                <div class="select">
                                    <select name="project" {{#morethan user.role 0}}data-disabled{{/morethan}}>
                                        <template v-for="project of projects">
                                            <option :selected="project.selected" :disabled="project.disabled">\{{ project.domain }}</option>
                                        </template>
                                    </select>
                                    <input id="project" type="hidden" value="{{ task.project }}">
                                    <input id="projects" type="hidden" value="{{ task.customer.projects }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field-body field-body-not-last">
                        <div class="field">
                            <label class="label">Автор задачи</label>
                            <div class="control">
                                <input class="input" type="text" value="{{ roles.author.name.first }} {{ roles.author.name.last }}" readonly>
                                <input type="hidden" name="author" value="{{ roles.author._id }}" required>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Разработчик</label>
                            <div class="control">
                                <div class="select">
                                    <select name="developer" {{#morethan user.role 0}}data-disabled{{/morethan}}>
                                        {{#if users.dev}}
                                            {{#each users.dev}}
                                                <option value="{{ _id }}" {{#if selected}}selected{{/if}}>{{ name.first }} {{ name.last }}</option>
                                            {{/each}}
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Наблюдатели</label>
                        <div class="control">
                            <div class="select is-multiple">
                                <select name="observers" multiple {{#morethan user.role 0}}data-disabled{{/morethan}}>
                                    {{#if users}}
                                        {{#each users.observers}}
                                                <option value="{{ _id }}" {{#if selected}}selected{{/if}}>{{ name.first }} {{ name.last }}</option>
                                        {{/each}}
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field-body field-body-not-last">
                        <div class="field">
                            <label class="label">Оценка (ч)</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="" name="estimate" value="{{ task.time.estimate }}" {{#if task.time.estimate}}{{#morethan user.role 0}}readonly{{/morethan}}{{/if}}>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Фактически</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="" name="fact" value="{{ task.time.fact }}" {{#morethan user.role 1}}readonly{{/morethan}}>
                            </div>
                        </div>
                    </div>

                    {{#morethan user.role 0}}
                        <div class="field-body field-body-not-last">
                            <div class="field">
                                <label class="label">Цена для клиента</label>
                                <div class="control">
                                    <input class="input" type="text" value="{{ task.price.customer }}" readonly>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Стоимость реализации</label>
                                <div class="control">
                                    <input class="input" type="text" value="{{ task.price.developer }}" readonly>
                                </div>
                            </div>
                        </div>
                    {{/morethan}}

                    <input type="hidden" name="id" value="{{task.id}}">
                    <input type="hidden" name="role" value="{{ user.role }}">

                    <div class="field is-grouped">
                        <div class="control">
                            <input type="hidden" name="_csrf" value="{{ csrf }}">

                            {{#morethan user.role 1}}
                            <a href="/tasks" class="button is-link">Вернуться к задачам</a>
                            {{else}}
                            <button type="submit" class="button is-link">Сохранить</button>
                            {{/morethan}}
                        </div>
                        {{#lessthan user.role 2}}
                        <div class="control">
                            <a class="button is-link is-light" href="/tasks">Отмена</a>
                        </div>
                        {{/lessthan}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>